// Place all the styles related to the mitames controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #000000;
    width: 100%;
}

header{
    width: 100%;
    background-color:#FFD5EC	;
    color:#FFFFCC	;
    display: inline-block;
     text-align: center;
    padding: 5px 10px 40px 10px;
    // border: 3px solid #aaa;
    height: 100px;
   
}

.container {
   width: 100%;
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
   padding-bottom: 100px;
}

.flex{
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 100px;
}
.flex > *{
//   min-width: 30%
width: 50%;
;
  flex-basis: 30%;
  background: #fff;
  font-size: 64px;
  text-align: right
//   text-align: center;
//   padding-bottom: 100px;

}
.flex,
.flex > *{
  // border: 3px solid #aaa;
}

.list{
    // min-width: 30%;
    width: 20%;
	margin: 10px 4px 100px 4px;
	list-style-type: none;
	overflow: hidden;
	padding: 10px 2px 10px 2px;
	 border: 3px solid #aaa;
	font-size: small;
	
}
// .style{
// 	position:absolute;
//     bottom:0;
//     right:0;
	
// }

.list li{
	margin: 50px 20px 50px 20px;
	float: left;
	transition: .8s;
	font-size: small;
	
}

.list-mv02{
	opacity: 0;
		padding-bottom: 100px;
}
.mv02{
	opacity: 1.0;
		padding-bottom: 100px;
}

// #main {
//     padding-bottom: 100px;
// }
form {

  input,textarea {
    width: 60%;
    border-radius: 5px;
    font-family: "游ゴシック", "YuGothic";
    // padding-bottom: 100px;
  }
  input[type="submit"] {
    width: 30%;
    border-radius: 10px;
    color: #fff;
    border: 0;
    font-size: 18px;
    
    &:hover {
     
    }
  }
  
}


footer{
    width: 100%;
    background-color:#FFD5EC	;
    color:#336666;
    text-align: center;
    padding: 10px 0;
  
    height: 100px;
    position: absolute;
    bottom: 0;
}