<!--<div class="container">-->
<div class="container">

<div class="flex">

   <% @mitames.each do |mitame| %>
    <ul class="list">
     <li class="list-mv02"" style="background-image: url(<%= mitame.image %>);">
      <%= simple_format(mitame.text) %>
      <span class="name"><%= mitame.name %></span>
     </li>
	</ul>
   <% end %>
	 
<ul class="list">
	<li class="list-mv02"><img src="common/img/01.jpg"></li>
</ul>
<ul class="list">
	<li class="list-mv02"><img src="common/img/01.jpg"></li>

</ul>

 <ul class="list">
	<li class="list-mv02"><img src="common/img/01.jpg"></li>
</ul>
<ul class="list">
	<li class="list-mv02"><img src="common/img/01.jpg"></li>
</ul>
<ul class="list">
	<li class="list-mv02"><img src="common/img/01.jpg"></li>
	
</ul>
<ul class="list">
	<li class="list-mv02"><img src="common/img/01.jpg"></li>
	
	 <div style="text-align : righit"><a href="https://master.tech-camp.in/"> techcamp</a></div>
	 <div style="text-align : righit"><a href="/mitames/:id(.:format)"> more...</a></div>
	 </ul>
	 
<ul class="list">
	<li class="list-mv02"><img src="common/img/01.jpg"></li>
</ul>
<ul class="list">
	<li class="list-mv02"><img src="common/img/01.jpg"></li>

</ul>

 <ul class="list">
	<li class="list-mv02"><img src="common/img/01.jpg"></li>
</ul>
<ul class="list">
	<li class="list-mv02"><img src="common/img/01.jpg"></li>
</ul>
<ul class="list">
	<li class="list-mv02"><img src="common/img/01.jpg"></li>
</ul>
</div>
</div>

<!--</div>-->