<center><div class="container">

<div class="inline-block_test">
  <div class=box1>
    <%=image_tag @mitame.image, :size =>'400x400' %>
   
  </div>
  

   <div class="box2" >
      <!--<textarea name="text" placeholder="text" rows="20" cols="50"></textarea>-->
    </div>
      <div class="box3" >
      <!--<textarea name="text" placeholder="text" rows="20" cols="50"></textarea>-->
    </div>
      <div class="box4" >
      <!--<textarea name="text" placeholder="text" rows="20" cols="50"></textarea>-->
    </div>  
    <div class="box5" >
      <!--<textarea name="text" placeholder="text" rows="20" cols="50"></textarea>-->
    </div> 
    <%= link_to '編集', edit_mitame_path(@mitame) %>
    <%= link_to '削除',"/mitames/#{@mitame.id}", method: :delete %>
</div>
 

</div>
</center>